*{
	margin:0;
	padding:0;
}

html{
	background:url('http://sf.co.ua/15/10/wallpaper-10d791.jpg') no-repeat center center;
	position:relative;
}

body{
    padding: 300px 0 0;
}

#note{
	color:#e8e8e8;
	font-size: 18px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 100%;
}

.days, .hours, .minutes, .seconds {
    padding:0 10px;
}
.hours, .minutes {
    padding-left:35px
}